@model DropDown.Models.Country

@{
    ViewBag.Title = "Index";
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
}
<script>
    $(function() {
        $("#ContID").change(function() {
            $.get("/DropDownC/GetStatesByID",
                { ID: $("#ContID").val() },
                function (data) {
                    $("#St").empty();
                    $("#city").empty();
                    $.each(data,
                        function(index, row) {
                            $("#St").append("<option value='" + row.state_id + "'>" + row.name + "</option>");
                        });
                });
        });

        $("#St").change(function() {
            $.get("/DropDownC/GetCityByID",
                { ID: $("#St").val() },
                function (data) {
                    $("#city").empty();
                    $.each(data,
                        function(index, row) {
                            $("#city").append("<option value='" + row.state_id + "'>" + row.name + "</option>");
                        });
                });
        });
    });
</script>

<h2>Index</h2>

@Html.DropDownListFor(p => p.id,ViewBag.CountryName as SelectList 
    , "Select Your Country", new {id="ContID",@class="form-control"})

<select id="St" class="form-control">

</select>
<select id="city" class="form-control">
</select>